DB_CONNECT = mongodb://localhost:27017/nexait_db
TOKEN_SECRET = abcdeftyrew5241swerttt

GMAIL_USER = 
GMAIL_PASSWORD = *****

MATCH_API_URL = https://api.s.so/v1.0/match/
XML_PATH_URL  = /var/www/html

ADMIN_MAIL = 

banner Images
application form 



Name:
mobile NO:
Education:
DOB:
age:
Occupation:
culturak
AdharNo:

Address:
Place/post
Hobali
Taluk
Dist
Pincode