<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <!-- Begin wrapper table -->
  <table class="wrapper" width="100%">
    <tr>
      <td class="wrapper-inner" align="center">
        <table class="main" align="center" style="background:#000; border-radius:20px; overflow:hidden;">
          <tr style="text-align:center">
            <img src="https://nexait.ae/admin/assets/img/logos/nexait-logo-email-white.png" alt="nexait" title="nexait" style="margin:3rem 0;">
          </tr>
          <tr>
            <td class="main-content" style="background:#000;">
              <!-- Begin Content -->
              <center style="background-color:#fff;">
                <table border="0" cellpadding="0" cellspacing="0" height="100%" id="bodyTable"
                  style="table-layout: fixed;">
                  <tr>
                    <td align="center" valign="top" id="bodyCell">
                      <table class="new-width" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%"
                        id="emailBody">
                        <tr>
                          <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#FFFFFF;"
                              bgcolor="#000">
                              <tr>
                                <td align="center" valign="top" width="600">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                    class="flexibleContainer" class="abc">
                                    <tr>
                                      <td align="center" valign="top" width="100%" class="flexibleContainerCell"
                                        class="abc" style="background: #000;">
                                        <table border="0" cellpadding="30" cellspacing="0" width="90%">
                                          <tr>
                                            <td align="left" valign="top" class="textContent"
                                              style="padding: 0px; background:#000;">
                                              <div style="padding: 5px 20px;">
                                                <h6
                                                  style="color: #A8A8A8; font-size:16px; text-align:left;margin-top:10px; margin-bottom:20px;">
                                                 Hi, {{name}}</h6>
                                                <p style="font-size:14px; margin:0 0 16px 0; color:#a8a8a8;">Email : <a href="mailto:{{email}}" style="color:#a8a8a8 !important; text-decoration:none !important;">{{email}}</a></p>
                                                <p style="font-size:14px; margin:0 0 16px 0; color:#a8a8a8;">Your Application Number is : {{application_number}}</p>
                                              </div>
                                              <div style="margin:3rem 0;">
                                              <p style="font-family:Helvetica,Arial,sans-serif; color:#4f4f4f; font-size:16px;font-weight:600;line-height:20px;padding:0;margin:0 10px;text-align:left;">Best Regards,</p>
                                              <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px;font-weight:600;line-height:20px;padding:0;margin:0 10px;text-align:left;"> <a href="www.nexait.ae" style="color:#4f4f4f !important; text-decoration:none !important;"> www.nexait.ae </a></p>
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
              <!-- End Content -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- End wrapper table -->
</body>